<header class="header">
    <a href="/" class="header__logo">Painel Administrador</a>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="">Novidades</a>
            </li>
            <li>
                <a href="/about" class="">Promoções</a>
            </li>
            <li>
                <a href="/contact" class="">Moda Praia</a>
            </li>
        </ul>
    </nav>

    <div class="header__button">
        <a href="/logout">
            Sair
        </a>
    </div>
</header>